@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #fff9eb;
}

a {
  text-decoration: none;
  color: #7a47e7;
}

a:hover {
  color: rgb(207, 48, 101);
}

.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: 0.6em 0;
  display: inline-block;
}

.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.first1 {
  height: 100px;
  font-size: 60px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: red;
  /* background-image: linear-gradient(to bottom right, rgb(235, 241, 149), rgb(245, 235, 105)); */
}

.first2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: purple;
}

.parent-wrapper {
  width: 100%;
  margin-top: 30px;
  background-color: #fff9eb;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 -10px; */
}

.child {
  display: inline-block;
  background: #ebbf9778;
  margin: 15px 10px;
  flex: 1;
  border-radius: 10px;
  padding-bottom: 10px;
}

.price {
  text-align: center;
  color: #ec0c0c;   
  line-height: 1.5;
}

.word {
  text-align: center;
  color: rgb(42, 202, 50);
  line-height: 1.5;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.image img {
  border-radius: 10px 10px 0px 0px;
}

.buy {
  text-align: center;
  color: rgb(50, 10, 209);
  
  line-height: 1.5;
}

.head1 {
  display: flex;
  justify-content: center;
  width: 100%;

}

.kid {
  display: inline-block;
  margin: 10px 0 0 10px;
  flex: 1;
}

.kid img {
  border-radius: 50%;
  width: 250px;
  height: 250px;

}

.word1 {
  color: rgb(50, 10, 209);
  text-align: center;
  line-height: 2.5;
}

.signup {
  background-color: #fbefd5;
  color: #4deee3;
  padding: 20px 0;
  /* background-image: linear-gradient(to bottom right, #736b96, #6a9f35); */
}

.word2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 60px;
  color: red;
}

.word3 {
  color: grey;
  text-align: center;
  font-size: 25px;
}

.parent-wrapper1 {
  height: 100%;
  width: 100%;
  background-color: #fff9eb;
  margin: 10px 0;
}
.formsignup {
  text-align: center;
  display: flex;
  justify-content: center;
}

.word3 {
  color: rgb(34, 17, 17);
}

.parent1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.child img {
  width: 100%;
  height: 316px;
}
.signup {
  background-color: #fbefd5;
  color: #4deee3;
  padding: 20px 0;
  /* background-image: linear-gradient(to bottom right, #736b96, #6a9f35); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
  background-image: linear-gradient(to bottom right, #736b96, #6a9f35);
  padding: 10px 30px;
}

.card_title {
  text-align: center;
  padding: 10px;
}

.card_title h1 {
  font-size: 26px;
  font-weight: bold;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.form button {
  background-color: #86d892;
  color: #040404;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100%;
}

.card_terms {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card_terms input[type="checkbox"] {
  background-color: #e2e2e2;
}

.card_terms span {
  margin: 5px;
  font-size: 13px;
}

.card a {
  color: #4796ff;
  text-decoration: none;
}

.col_white_amrc {
  color: #FFF;
}


.container1{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
#contact h3{
  text-align: center;
}
body {
  background-color: #fbefd5;
  color: #000000;
}

@media (max-width: 767.98px) {
  body {
      color: yellow;
  }
}


